.home-page {
    width: 100vw;
    .home-page__header-bio {
        width: 100vw;
        height: 100vh;
        background: var(--primary-color);
        display: flex;
        justify-content: center;
    }
}
