body {
    --primary-color: rgb(0, 96, 205);
    --default-text: black;
    --default: white;
    --default-hover: rgb(230, 230, 230);
    --selected-color: green;

    --z-modal: 20;
    --z-top: 10;
    --z-layer-4: 4;
    --z-layer-3: 3;
    --z-layer-2: 2;
    --z-layer-1: 1;
    --z-bottom: 0;
    margin: 0px;
    overflow-x: hidden;
}
